@import '../../styles/utils/base';

.topics {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 

    &__title-container {
        display: flex;
        justify-content: flex-start;
        width: 60%; 
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
    }

    &__button-container {
        display: flex;
        width: 60%;
    }

    &__button {
        width: 200px;
        height: 30px;
        border-radius: 10px;
        margin: 0 20px 0 0;
        cursor: pointer;
    }


}