@import '../../styles/utils/base';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 97px;
    padding: 16px 24px 16px 24px;
    background-color: $black;
    box-sizing: border-box;

    &__logo-search-container {
        display: flex;
        align-items: center;
        width: 33%;
    }

    &__logo-container {
        width: 104px;
        height: 55px;
        border-radius: 40px;
    }

    &__logo {
        width: 100%;
        height: 100%;
        border-radius: 50px;
    }

    &__search-container {
        width: 357px;
        height: 43px;
        margin: 0 0 0 30px;
    }

    &__search {
        width: 100%;
        height: 100%;
        border-radius: 21.5px;
        border: solid 2px #c1c2c4;
        padding: 0 0 0 10px;
        cursor: pointer;
    }

    &__button-container {
        display: flex;
        width: 500px;
        height: 30px;
        margin: 0 16px 0 0;
    }

    &__button {
        width: 197px;
        height: 43px;
        margin: 0 0 0 50px;
        border-radius: 15px;
        border: solid 0.5px $gray;
        font-weight: bold;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
            background-color: $gray;
            color: white;
        }
    }
}