@import '../../styles/utils/base';


// --- VIDEOS 1 --- //
.videos1 {
    margin: 80px 0px 180px 180px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    // background-color: grey;
    border: 1px solid red;
}

.videos1-firstblock {
    margin: 0px 20px;
    width: 200px;
    height: 200px;
    // background-color: grey;
    border: 1px solid red;
}

.videos1-secondblock {
    margin: 0px 20px;
    width: 200px;
    height: 200px;
    // background-color: grey;
    border: 1px solid red;
}

.videos1-thirdblock {
    margin: 0px 20px;
    width: 200px;
    height: 200px;
    // background-color: grey;
    border: 1px solid red;
}

.videos1-fourthblock {
    margin: 0px 20px;
    width: 200px;
    height: 200px;
    // background-color: grey;
    border: 1px solid red;
}

.videos1-fifthblock {
    margin: 0px 20px;
    width: 200px;
    height: 200px;
    // background-color: grey;
    border: 1px solid red;
}

// --- VIDEOS 2 --- //
.videos2 {
    margin: 0px 0px 180px 180px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    // background-color: grey;
    border: 1px solid red;
}

.videos2-firstblock {
    margin: 0px 20px;
    width: 200px;
    height: 200px;
    // background-color: grey;
    border: 1px solid red;
}

.videos2-secondblock {
    margin: 0px 20px;
    width: 200px;
    height: 200px;
    // background-color: grey;
    border: 1px solid red;
}

.videos2-thirdblock {
    margin: 0px 20px;
    width: 200px;
    height: 200px;
    // background-color: grey;
    border: 1px solid red;
}

.videos2-fourthblock {
    margin: 0px 20px;
    width: 200px;
    height: 200px;
    // background-color: grey;
    border: 1px solid red;
}

.videos2-fifthblock {
    margin: 0px 20px;
    width: 200px;
    height: 200px;
    // background-color: grey;
    border: 1px solid red;
}