@import '../../styles/utils/base';


// --- VIDEOS 1 --- //
.videos1 {
    margin: 80px 0px 180px 180px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
}

.videos1-firstblock {
    margin: 0px 20px;
    width: 100%;
    height: 200px;
    // background-color: grey;
    // border: 1px solid red;
}

.videos1-secondblock {
    margin: 0px 20px;
    width: 100%;
    height: 200px;
    // background-color: grey;
    // border: 1px solid red;
}

.videos1-thirdblock {
    margin: 0px 20px;
    width: 100%;
    height: 200px;
    // background-color: grey;
    // border: 1px solid red;
}

.videos1-fourthblock {
    margin: 0px 20px;
    width: 100%;
    height: 200px;
    // background-color: grey;
    // border: 1px solid red;
}

.videos1-fifthblock {
    margin: 0px 20px;
    width: 100%;
    height: 200px;
    // background-color: grey;
    // border: 1px solid red;
}

// --- VIDEOS 2 --- //
.videos2 {
    margin: 0px 0px 180px 180px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    // background-color: grey;
    // border: 1px solid red;
}

.videos2-firstblock {
    margin: 0px 20px;
    width: 100%;
    height: 200px;
    // background-color: grey;
    // border: 1px solid red;
}

.videos2-secondblock {
    margin: 0px 20px;
    width: 100%;
    height: 200px;
    // background-color: grey;
    // border: 1px solid red;
}

.videos2-thirdblock {
    margin: 0px 20px;
    width: 100%;
    height: 200px;
    // background-color: grey;
    // border: 1px solid red;
}

.videos2-fourthblock {
    margin: 0px 20px;
    width: 100%;
    height: 200px;
    // background-color: grey;
    // border: 1px solid red;
}

.videos2-fifthblock {
    margin: 0px 20px;
    width: 100%;
    height: 200px;
    // background-color: grey;
    // border: 1px solid red;
}

.img-1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-2 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-3 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-4 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-5 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-6 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-7 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-8 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-9 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-10 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}