@import '../../styles/utils/base';


.puzzle {
    margin: 100px 180px 180px 180px;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // width: 100%;
    // height: 100%;
}

.puzzle-blockA {
    flex-direction: row;
    // background-color:grey;
    // border: 1px solid red;
    width: 400px;
    height: 400px;

    &__1 {
        margin: 20px;
        border: 1px solid red;
        width: 420px;
        height: 200px;
    }

    &__2 {
        margin: 20px;
        border: 1px solid red;
        width: 200px;
        height: 200px;

        &-a {
            margin: 0px 20px 20px 220px;
            border: 1px solid red;
            width: 200px;
            height: 200px;
        }
    }
}

.puzzle-blockB {
    flex-direction: row;
    // background-color:grey;
    border: 1px solid red;
    width: 220px;
    height: 420px;
    margin: 20px 70px;


    &__2 {
        margin-left: 30px;
        border: 1px solid red;
        width: 200px;
        height: 400px;

        &-A {
            border: 1px solid red;
            width: 200px;
            height: 200px;
        }

        &-B {
            border: 1px solid red;
            width: 400px;
            height: 200px;

        }
    }

}

.text-box {
    


    &__content {
        margin: 20px 0px;
        height: 420px;
        width: 300px;
        // background-color:grey;
        border: 1px solid red;
    }
}