@import '../../styles/utils/base';

.hero {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 400px;
    background-image: url('../../assets/images/sample-hero.jpg');
    background-size: cover;

    &__title-container{
        display: flex;
        justify-content: flex-start;
        width: 50%;
        margin: 0 0 0 16px;
    }

    &__title {
        color: white;
    }

    &__text-container {
        display: flex;
        justify-content: flex-start;
        width: 50%;
        margin: 0 0 0 16px;
    }

    &__text {
        color: white;
    }

}