@import '../../styles/utils/base';

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: 100vw;
    height: 603px;
    background-image: url('../../assets/images/sample-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    &__title-container {
        display: flex;
        justify-content: flex-end;
        margin: 200px 75px 0 0;
    }

    &__title {
        color: white;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        width: 500px;
    }

    &__text-container {
        display: flex;
        justify-content: flex-end;
        width: 700px;
        height: 95px;
        margin: 0 50px 0 0;
    }

    &__text {
        font-size: 20px;
        color: white;
        margin: 17px 0 0 20px;
        line-height: 1.8;
    }

}